header {
  background-color: #131921;
  height: 60px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  position: fixed;
}

.logo-container {
  height: 90%;
  border: 1px solid transparent;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
}

.logo-container:hover {
  border: 1px solid #fff;
}

.logo-container .logo {
  height: 50%;
}

.search-container {
  margin-left: 15px;
  height: 40px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid transparent;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.search-container .search-bar-catergory {
  color: #000;
  background-color: #d4d4d4;
  width: 40px;
  display: grid;
  place-items: center;
  border: none;
}

.search-container .search-bar {
  border: none;
  flex: 1;
}

.search-container .search-button {
  width: 40px;
  border: none;
  background-color: #febd69;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container .search-button img {
  height: 45%;
}
.search-container:focus-within {
  border: 2px solid #ff9900;
  outline: none;
}
.search-bar:focus {
  outline: none;
}

.user-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 90%;
  display: flex;
  justify-content: center;
  padding-inline: 5px;
  min-width: 130px;
}

.order-container {
  min-width: 70px;
}

.user-container:hover {
  border: 1px solid #fff;
}

.user-container span {
  color: #fff;
  font-size: 0.75rem;
}
.user-container .bold {
  font-weight: bold;
  font-size: 0.9rem;
}

.cart-container {
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid transparent;
  height: 90%;
}

.cart-container:hover {
  border: 1px solid #fff;
}

.cart-container img {
  height: 35px;
}

.cart-container .cart-count {
  height: 20px;
  width: 20px;
  color: #f08804;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 6px;
  left: 18px;
  text-align: center;
}

.cart-container .bold {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 5px;
  margin-top: 10px;
}
