* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", sans-serif;
}

body {
  height: 100vh;
}

main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 60px;
}

.product-container {
  max-height: 500px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.product-container .image-container {
  height: 200px;
  width: 220px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.image-container .product-image {
  max-height: 200px;
  max-width: 100%;
}

.product-container .product-name {
  height: 40px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  margin-bottom: 10px;
}

.rating-container .rating {
  width: 55%;
}

.rating-container .rate-count {
  color: #000;
  margin-top: 5px;
}

.product-container .product-price {
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-container button {
  border: none;
  padding-block: 10px;
  width: 100%;
  border-radius: 100px;
  background-color: #ffd814;
  cursor: pointer;
}

.product-container button:hover {
  background-color: rgb(230, 194, 18);
}
